
<footer class="text-center text-white fixed-bottom" style="">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.781);">
    Moscow, street Orzhonikidze 11 building 10 ©  2022 Some books:
    <a class="text-white" href="https://mdbootstrap.com/">bookSSSS@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
