<link rel="stylesheet" href="/styles/lk.css" type="text/css" />
<link rel="stylesheet" href="/styles/constructor.css" type="text/css" />
<link rel="stylesheet" href="/styles/normalize.css" type="text/css"/>
<form name="generationSocks">

<div class="card lk_socks" style="width: 18rem;">
  <img src="https://ae01.alicdn.com/kf/HTB1Woh.XTHuK1RkSndVq6xVwpXan.jpg" class="card-img-top lk_socks border-2 border border-grey" alt="...">
  <div class="card-body btn">
    <p class="card-text text_lk_socks">У нас вы можете создать свои носки</p>
 <a href="/constructor" class="btn btn-dark">Сгенерировать носки</a>
  </div>
</div>

</form>