  <link rel="stylesheet" href="/styles/background.css" type="text/css" />
  <div class='tab-pane fade' id='profile-tab-pane' role='tabpanel' aria-labelledby='profile-tab' tabindex='0'>
    <form action='/signin' method='post'>
      <div class='mb-3'>
        <label for='exampleName' class='form-label'>Имя</label>
        <input name='name' type='text' class='form-control' id='exampleName' />
      </div>
      <div class='mb-3'>
        <label for='exampleInputPassword1' class='form-label'>Пароль</label>
        <input name='password' type='password' class='form-control' id='exampleInputPassword1' />
      </div>
      <button type='submit' class='btn btn-dark'>Войти</button>
    </form>
  </div>
</div>

</div>
<div><h1 class="title_s" align="center">Custom Socks</h1></div>